@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#FB7BA2,#FCE043);
  font-size: 1.1rem;
}

div,p{
  font-family: 'Barlow Semi Condensed', sans-serif, Arial, Helvetica, sans-serif;
  font-size: large;
}

.active{
  color: rgb(30, 30, 30) !important;
}